### Tuning in order to find best loss function for autos dataset

Functions to be used in the tests: mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, mean_squared_logarithmic_error e squared_hinge 

**Result:** The best loss function is mean_squared_error

In [1]:
import pandas as pd
import tensorflow as tf
import sklearn

In [2]:
pd.__version__, tf.__version__, sklearn.__version__

('2.2.2', '2.10.0', '1.5.1')

In [3]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from scikeras.wrappers import KerasRegressor
from sklearn.model_selection import GridSearchCV
from tensorflow.keras import backend as k
from tensorflow.keras.losses import KLDivergence

In [4]:
dataset = pd.read_csv('../data/autos/autos.csv', encoding='ISO-8859-1')

In [5]:
# Working on the data 

# droping some columns 
dataset = dataset.drop('dateCrawled', axis=1) # axis=1 -> column
dataset = dataset.drop('dateCreated', axis=1)
dataset = dataset.drop('nrOfPictures', axis=1)
dataset = dataset.drop('postalCode', axis=1)
dataset = dataset.drop('lastSeen', axis=1)

# it returns how many times words will appear
dataset['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [6]:
'''
    Since the data in that column is highly variable, we can drop the column, 
    considering that we have another column (brand) with less variation
'''
dataset = dataset.drop('name', axis=1)

In [7]:
dataset['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [8]:
#the data is highly imbalanced
dataset = dataset.drop('seller', axis=1)

In [9]:
dataset['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [10]:
# the data is highly imbalanced
dataset = dataset.drop('offerType', axis=1)

In [11]:
dataset.loc[dataset['price'] <=  10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [12]:
dataset['price'].mean()

17295.14186548524

In [13]:
# recreating dataset in which the registers have prices greater than 10
dataset = dataset[dataset['price'] > 10]
dataset.shape

(359410, 12)

In [14]:
dataset.loc[dataset['price'] > 350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [15]:
dataset = dataset[dataset['price'] < 350000]
dataset.shape

(359291, 12)

In [16]:
# Missing data handling
dataset.loc[pd.isnull(dataset['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [17]:
# Missing values handle. Numbers: mean. Categorical attributes: mode

dataset['vehicleType'].value_counts()
dataset['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: object

In [18]:
dataset.loc[pd.isnull(dataset['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [19]:
dataset['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [20]:
dataset['gearbox'].mode()

0    manuell
Name: gearbox, dtype: object

In [21]:
dataset.loc[pd.isnull(dataset['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [22]:
dataset['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [23]:
dataset['model'].mode()

0    golf
Name: model, dtype: object

In [24]:
dataset.loc[pd.isnull(dataset['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [25]:
dataset['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [26]:
dataset.loc[pd.isnull(dataset['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [27]:
dataset['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [28]:
# correcting data

values = {
    'vehicleType': 'limousine',
    'gearbox':'manuell',
    'model':'golf',
    'fuelType':'benzin',
    'notRepairedDamage': 'nein',
}

values

{'vehicleType': 'limousine',
 'gearbox': 'manuell',
 'model': 'golf',
 'fuelType': 'benzin',
 'notRepairedDamage': 'nein'}

In [29]:
dataset = dataset.fillna(value=values)

In [30]:
dataset.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [31]:
dataset.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [32]:
X = dataset.iloc[:, 1:12].values # numpy format 

X.shape, type(X)

((359291, 11), numpy.ndarray)

In [33]:
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [34]:
y = dataset.iloc[:, 0].values

y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

In [35]:
# Preprocessing

onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0, 1, 3, 5, 8, 9, 10])], remainder='passthrough')

In [36]:
X = onehotencoder.fit_transform(X)

In [37]:
dataset.shape, X.shape

((359291, 12), (359291, 316))

In [38]:
# initial definition of neuron units

# (input + output)/2

(316 + 1)/2

158.5

In [47]:
# building the neural network
def create_net (loss):
    k.clear_session()
    regressor = Sequential([
        tf.keras.layers.InputLayer(input_shape=(316, )),
        tf.keras.layers.Dense(units=158, activation='relu'),
        tf.keras.layers.Dense(units=158, activation='relu'),
        tf.keras.layers.Dense(units=1, activation='linear')
    ])
    regressor.compile(optimizer='adam', loss=loss, metrics=['mean_absolute_error'])
    return regressor

neural_network = KerasRegressor(model=create_net)

In [48]:
params = {
    'batch_size': [20],
    'epochs': [25],
    'model__loss':[
        'mean_squared_error', 
        'mean_absolute_error', 
        'mean_absolute_percentage_error', 
        'mean_squared_logarithmic_error', 
        'squared_hinge'
        ]
}

In [49]:
grid_search = GridSearchCV(estimator=neural_network, param_grid=params, cv=3)

In [50]:
grid_search = grid_search.fit(X,y)

Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 56s 5ms/step - loss: 51259800.0000 - mean_absolute_error: 3679.4790
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 38839004.0000 - mean_absolute_error: 3164.1875
Epoch 3/25
11977/11977 [==============================] - 58s 5ms/step - loss: 37798892.0000 - mean_absolute_error: 3099.2683
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 36724672.0000 - mean_absolute_error: 3025.6294
Epoch 5/25
11977/11977 [==============================] - 66s 5ms/step - loss: 36291664.0000 - mean_absolute_error: 2994.9939
Epoch 6/25
11977/11977 [==============================] - 59s 5ms/step - loss: 35671368.0000 - mean_absolute_error: 2953.6702
Epoch 7/25
11977/11977 [==============================] - 58s 5ms/step - loss: 35219272.0000 - mean_absolute_error: 2920.6841
Epoch 8/25
11977/11977 [==============================] - 59s 5ms/step - loss: 34868088.0000 - mean_absolute_error: 2903.0652
Epoch 9/25
11977/11977 [==============================] - 58s 5ms/step - loss: 34302220.0000 - mean_absolute_error: 2864.2854
Epoch 10/25
11977/11977 [==============================] - 58s 5ms/step - loss: 34395168.0000 - mean_absolute_error: 2844.4114
Epoch 11/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33948204.0000 - mean_absolute_error: 2836.3306
Epoch 12/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33504760.0000 - mean_absolute_error: 2809.2795
Epoch 13/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33277182.0000 - mean_absolute_error: 2786.3904
Epoch 14/25
11977/11977 [==============================] - 59s 5ms/step - loss: 33502910.0000 - mean_absolute_error: 2791.7542
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 33014234.0000 - mean_absolute_error: 2776.9697
Epoch 16/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33039330.0000 - mean_absolute_error: 2779.7864
Epoch 17/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32798440.0000 - mean_absolute_error: 2751.2336
Epoch 18/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32563620.0000 - mean_absolute_error: 2745.9158
Epoch 19/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32423432.0000 - mean_absolute_error: 2740.3357
Epoch 20/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32283960.0000 - mean_absolute_error: 2743.3662
Epoch 21/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32226722.0000 - mean_absolute_error: 2718.4683
Epoch 22/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32031262.0000 - mean_absolute_error: 2721.3047
Epoch 23/25
11977/11977 [==============================] - 58s 5ms/step - loss: 31882094.0000 - mean_absolute_error: 2716.7268
Epoch 24/25
11977/11977 [==============================] - 58s 5ms/step - loss: 31805700.0000 - mean_absolute_error: 2703.4717
Epoch 25/25
11977/11977 [==============================] - 58s 5ms/step - loss: 31645780.0000 - mean_absolute_error: 2694.7986
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 58s 5ms/step - loss: 52181656.0000 - mean_absolute_error: 3692.3738
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 39169124.0000 - mean_absolute_error: 3185.5815
Epoch 3/25
11977/11977 [==============================] - 59s 5ms/step - loss: 37750780.0000 - mean_absolute_error: 3112.4983
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 36817448.0000 - mean_absolute_error: 3040.3398
Epoch 5/25
11977/11977 [==============================] - 59s 5ms/step - loss: 36294464.0000 - mean_absolute_error: 2998.1606
Epoch 6/25
11977/11977 [==============================] - 57s 5ms/step - loss: 36003832.0000 - mean_absolute_error: 2967.8308
Epoch 7/25
11977/11977 [==============================] - 58s 5ms/step - loss: 35629960.0000 - mean_absolute_error: 2941.7544
Epoch 8/25
11977/11977 [==============================] - 58s 5ms/step - loss: 35075588.0000 - mean_absolute_error: 2898.7925
Epoch 9/25
11977/11977 [==============================] - 58s 5ms/step - loss: 34529664.0000 - mean_absolute_error: 2872.9641
Epoch 10/25
11977/11977 [==============================] - 58s 5ms/step - loss: 34506600.0000 - mean_absolute_error: 2841.9775
Epoch 11/25
11977/11977 [==============================] - 57s 5ms/step - loss: 34106912.0000 - mean_absolute_error: 2827.6274
Epoch 12/25
11977/11977 [==============================] - 57s 5ms/step - loss: 33954004.0000 - mean_absolute_error: 2815.1287
Epoch 13/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33709456.0000 - mean_absolute_error: 2799.7507
Epoch 14/25
11977/11977 [==============================] - 57s 5ms/step - loss: 33520964.0000 - mean_absolute_error: 2793.6194
Epoch 15/25
11977/11977 [==============================] - 57s 5ms/step - loss: 33347582.0000 - mean_absolute_error: 2788.1716
Epoch 16/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33139116.0000 - mean_absolute_error: 2761.1213
Epoch 17/25
11977/11977 [==============================] - 57s 5ms/step - loss: 33174008.0000 - mean_absolute_error: 2758.7764
Epoch 18/25
11977/11977 [==============================] - 55s 5ms/step - loss: 32945728.0000 - mean_absolute_error: 2746.3921
Epoch 19/25
11977/11977 [==============================] - 58s 5ms/step - loss: 32551694.0000 - mean_absolute_error: 2742.2544
Epoch 20/25
11977/11977 [==============================] - 57s 5ms/step - loss: 32497196.0000 - mean_absolute_error: 2725.9526
Epoch 21/25
11977/11977 [==============================] - 60s 5ms/step - loss: 32480546.0000 - mean_absolute_error: 2724.2280
Epoch 22/25
11977/11977 [==============================] - 64s 5ms/step - loss: 32316720.0000 - mean_absolute_error: 2715.1021
Epoch 23/25
11977/11977 [==============================] - 62s 5ms/step - loss: 32290304.0000 - mean_absolute_error: 2722.3389
Epoch 24/25
11977/11977 [==============================] - 62s 5ms/step - loss: 32152120.0000 - mean_absolute_error: 2711.5320
Epoch 25/25
11977/11977 [==============================] - 62s 5ms/step - loss: 31958986.0000 - mean_absolute_error: 2702.2593
5989/5989 [==============================] - 14s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 63s 5ms/step - loss: 53850604.0000 - mean_absolute_error: 3744.7849
Epoch 2/25
11977/11977 [==============================] - 61s 5ms/step - loss: 41489812.0000 - mean_absolute_error: 3197.2188
Epoch 3/25
11977/11977 [==============================] - 62s 5ms/step - loss: 39831200.0000 - mean_absolute_error: 3108.8667
Epoch 4/25
11977/11977 [==============================] - 62s 5ms/step - loss: 39227620.0000 - mean_absolute_error: 3066.1406
Epoch 5/25
11977/11977 [==============================] - 61s 5ms/step - loss: 38546524.0000 - mean_absolute_error: 3015.6829
Epoch 6/25
11977/11977 [==============================] - 64s 5ms/step - loss: 38071468.0000 - mean_absolute_error: 2965.2327
Epoch 7/25
11977/11977 [==============================] - 64s 5ms/step - loss: 37428356.0000 - mean_absolute_error: 2926.9524
Epoch 8/25
11977/11977 [==============================] - 67s 6ms/step - loss: 36725336.0000 - mean_absolute_error: 2893.7703
Epoch 9/25
11977/11977 [==============================] - 63s 5ms/step - loss: 36692232.0000 - mean_absolute_error: 2889.7234
Epoch 10/25
11977/11977 [==============================] - 62s 5ms/step - loss: 36327928.0000 - mean_absolute_error: 2857.6602
Epoch 11/25
11977/11977 [==============================] - 64s 5ms/step - loss: 36251036.0000 - mean_absolute_error: 2872.9233
Epoch 12/25
11977/11977 [==============================] - 65s 5ms/step - loss: 35940428.0000 - mean_absolute_error: 2819.5435
Epoch 13/25
11977/11977 [==============================] - 62s 5ms/step - loss: 35577928.0000 - mean_absolute_error: 2814.8706
Epoch 14/25
11977/11977 [==============================] - 62s 5ms/step - loss: 35248140.0000 - mean_absolute_error: 2792.1057
Epoch 15/25
11977/11977 [==============================] - 66s 5ms/step - loss: 35642340.0000 - mean_absolute_error: 2809.8535
Epoch 16/25
11977/11977 [==============================] - 60s 5ms/step - loss: 34959512.0000 - mean_absolute_error: 2776.3689
Epoch 17/25
11977/11977 [==============================] - 59s 5ms/step - loss: 34987800.0000 - mean_absolute_error: 2766.3284
Epoch 18/25
11977/11977 [==============================] - 61s 5ms/step - loss: 34867468.0000 - mean_absolute_error: 2761.5291
Epoch 19/25
11977/11977 [==============================] - 59s 5ms/step - loss: 34486776.0000 - mean_absolute_error: 2746.9248
Epoch 20/25
11977/11977 [==============================] - 65s 5ms/step - loss: 34633152.0000 - mean_absolute_error: 2755.4067
Epoch 21/25
11977/11977 [==============================] - 62s 5ms/step - loss: 34131308.0000 - mean_absolute_error: 2727.7407
Epoch 22/25
11977/11977 [==============================] - 59s 5ms/step - loss: 34233736.0000 - mean_absolute_error: 2735.1040
Epoch 23/25
11977/11977 [==============================] - 60s 5ms/step - loss: 34116028.0000 - mean_absolute_error: 2732.5410
Epoch 24/25
11977/11977 [==============================] - 59s 5ms/step - loss: 33919728.0000 - mean_absolute_error: 2727.1846
Epoch 25/25
11977/11977 [==============================] - 60s 5ms/step - loss: 34015428.0000 - mean_absolute_error: 2728.8772
5989/5989 [==============================] - 13s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 57s 5ms/step - loss: 3331.1418 - mean_absolute_error: 3331.1416
Epoch 2/25
11977/11977 [==============================] - 60s 5ms/step - loss: 2930.6057 - mean_absolute_error: 2930.6057
Epoch 3/25
11977/11977 [==============================] - 54s 4ms/step - loss: 2847.1047 - mean_absolute_error: 2847.1047
Epoch 4/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2793.5046 - mean_absolute_error: 2793.5046
Epoch 5/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2745.3511 - mean_absolute_error: 2745.3511
Epoch 6/25
11977/11977 [==============================] - 58s 5ms/step - loss: 2700.1941 - mean_absolute_error: 2700.1941
Epoch 7/25
11977/11977 [==============================] - 58s 5ms/step - loss: 2668.3896 - mean_absolute_error: 2668.3896
Epoch 8/25
11977/11977 [==============================] - 61s 5ms/step - loss: 2634.4707 - mean_absolute_error: 2634.4707
Epoch 9/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2605.6750 - mean_absolute_error: 2605.6750
Epoch 10/25
11977/11977 [==============================] - 62s 5ms/step - loss: 2583.4502 - mean_absolute_error: 2583.4502
Epoch 11/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2566.1267 - mean_absolute_error: 2566.1267
Epoch 12/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2559.2002 - mean_absolute_error: 2559.2002
Epoch 13/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2541.9629 - mean_absolute_error: 2541.9629
Epoch 14/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2526.4141 - mean_absolute_error: 2526.4141
Epoch 15/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2533.9578 - mean_absolute_error: 2533.9578
Epoch 16/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2521.4490 - mean_absolute_error: 2521.4490
Epoch 17/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2508.3127 - mean_absolute_error: 2508.3127
Epoch 18/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2504.9524 - mean_absolute_error: 2504.9524
Epoch 19/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2494.9395 - mean_absolute_error: 2494.9395
Epoch 20/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2493.7327 - mean_absolute_error: 2493.7327
Epoch 21/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2486.0864 - mean_absolute_error: 2486.0864
Epoch 22/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2488.2068 - mean_absolute_error: 2488.2068
Epoch 23/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2474.4617 - mean_absolute_error: 2474.4619
Epoch 24/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2474.8015 - mean_absolute_error: 2474.8015
Epoch 25/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2464.9531 - mean_absolute_error: 2464.9531
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 53s 4ms/step - loss: 3343.2771 - mean_absolute_error: 3343.2771
Epoch 2/25
11977/11977 [==============================] - 53s 4ms/step - loss: 2927.5767 - mean_absolute_error: 2927.5767
Epoch 3/25
11977/11977 [==============================] - 54s 4ms/step - loss: 2855.4207 - mean_absolute_error: 2855.4209
Epoch 4/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2805.0710 - mean_absolute_error: 2805.0710
Epoch 5/25
11977/11977 [==============================] - 54s 5ms/step - loss: 2753.8896 - mean_absolute_error: 2753.8896
Epoch 6/25
11977/11977 [==============================] - 54s 4ms/step - loss: 2711.3896 - mean_absolute_error: 2711.3896
Epoch 7/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2668.5486 - mean_absolute_error: 2668.5486
Epoch 8/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2637.5503 - mean_absolute_error: 2637.5503
Epoch 9/25
11977/11977 [==============================] - 54s 4ms/step - loss: 2606.0657 - mean_absolute_error: 2606.0657
Epoch 10/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2596.0762 - mean_absolute_error: 2596.0762
Epoch 11/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2573.3164 - mean_absolute_error: 2573.3164
Epoch 12/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2566.1333 - mean_absolute_error: 2566.1333
Epoch 13/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2544.9524 - mean_absolute_error: 2544.9524
Epoch 14/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2544.5632 - mean_absolute_error: 2544.5632
Epoch 15/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2533.6846 - mean_absolute_error: 2533.6846
Epoch 16/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2529.8877 - mean_absolute_error: 2529.8877
Epoch 17/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2526.9412 - mean_absolute_error: 2526.9412
Epoch 18/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2514.7217 - mean_absolute_error: 2514.7217
Epoch 19/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2514.7952 - mean_absolute_error: 2514.7952
Epoch 20/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2502.4944 - mean_absolute_error: 2502.4944
Epoch 21/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2494.5190 - mean_absolute_error: 2494.5190
Epoch 22/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2490.3809 - mean_absolute_error: 2490.3809
Epoch 23/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2482.4236 - mean_absolute_error: 2482.4236
Epoch 24/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2486.3044 - mean_absolute_error: 2486.3044
Epoch 25/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2480.4246 - mean_absolute_error: 2480.4246
5989/5989 [==============================] - 13s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 55s 5ms/step - loss: 3381.3081 - mean_absolute_error: 3381.3081
Epoch 2/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2939.6562 - mean_absolute_error: 2939.6562
Epoch 3/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2859.1399 - mean_absolute_error: 2859.1399
Epoch 4/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2805.5430 - mean_absolute_error: 2805.5427
Epoch 5/25
11977/11977 [==============================] - 59s 5ms/step - loss: 2767.3997 - mean_absolute_error: 2767.3997
Epoch 6/25
11977/11977 [==============================] - 60s 5ms/step - loss: 2717.9341 - mean_absolute_error: 2717.9341
Epoch 7/25
11977/11977 [==============================] - 53s 4ms/step - loss: 2685.7351 - mean_absolute_error: 2685.7351
Epoch 8/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2655.2708 - mean_absolute_error: 2655.2708
Epoch 9/25
11977/11977 [==============================] - 53s 4ms/step - loss: 2623.9065 - mean_absolute_error: 2623.9065
Epoch 10/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2604.7649 - mean_absolute_error: 2604.7649
Epoch 11/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2583.5391 - mean_absolute_error: 2583.5391
Epoch 12/25
11977/11977 [==============================] - 60s 5ms/step - loss: 2586.4087 - mean_absolute_error: 2586.4087
Epoch 13/25
11977/11977 [==============================] - 59s 5ms/step - loss: 2570.0193 - mean_absolute_error: 2570.0193
Epoch 14/25
11977/11977 [==============================] - 61s 5ms/step - loss: 2563.8640 - mean_absolute_error: 2563.8640
Epoch 15/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2550.6829 - mean_absolute_error: 2550.6829
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 2535.3354 - mean_absolute_error: 2535.3354
Epoch 17/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2526.6868 - mean_absolute_error: 2526.6868
Epoch 18/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2540.4614 - mean_absolute_error: 2540.4614
Epoch 19/25
11977/11977 [==============================] - 56s 5ms/step - loss: 2521.2798 - mean_absolute_error: 2521.2798
Epoch 20/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2513.4456 - mean_absolute_error: 2513.4456
Epoch 21/25
11977/11977 [==============================] - 57s 5ms/step - loss: 2514.0376 - mean_absolute_error: 2514.0376
Epoch 22/25
11977/11977 [==============================] - 54s 4ms/step - loss: 2505.2261 - mean_absolute_error: 2505.2261
Epoch 23/25
11977/11977 [==============================] - 55s 5ms/step - loss: 2504.7983 - mean_absolute_error: 2504.7983
Epoch 24/25
11977/11977 [==============================] - 54s 5ms/step - loss: 2499.9121 - mean_absolute_error: 2499.9121
Epoch 25/25
11977/11977 [==============================] - 54s 4ms/step - loss: 2488.7991 - mean_absolute_error: 2488.7991
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 59s 5ms/step - loss: 82.8624 - mean_absolute_error: 5380.7349
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 78.4320 - mean_absolute_error: 5237.4795
Epoch 3/25
11977/11977 [==============================] - 58s 5ms/step - loss: 76.8616 - mean_absolute_error: 5074.0718
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 75.5831 - mean_absolute_error: 4832.9917
Epoch 5/25
11977/11977 [==============================] - 58s 5ms/step - loss: 77.3849 - mean_absolute_error: 5034.8584
Epoch 6/25
11977/11977 [==============================] - 59s 5ms/step - loss: 77.4034 - mean_absolute_error: 5126.4312
Epoch 7/25
11977/11977 [==============================] - 58s 5ms/step - loss: 75.4845 - mean_absolute_error: 4930.1455
Epoch 8/25
11977/11977 [==============================] - 58s 5ms/step - loss: 74.3535 - mean_absolute_error: 4722.3159
Epoch 9/25
11977/11977 [==============================] - 58s 5ms/step - loss: 73.4802 - mean_absolute_error: 4555.4897
Epoch 10/25
11977/11977 [==============================] - 57s 5ms/step - loss: 74.7583 - mean_absolute_error: 4723.8716
Epoch 11/25
11977/11977 [==============================] - 58s 5ms/step - loss: 74.5110 - mean_absolute_error: 4569.1890
Epoch 12/25
11977/11977 [==============================] - 58s 5ms/step - loss: 74.3193 - mean_absolute_error: 4606.7671
Epoch 13/25
11977/11977 [==============================] - 59s 5ms/step - loss: 73.6005 - mean_absolute_error: 4546.4238
Epoch 14/25
11977/11977 [==============================] - 59s 5ms/step - loss: 71.9518 - mean_absolute_error: 4322.6270
Epoch 15/25
11977/11977 [==============================] - 58s 5ms/step - loss: 72.7430 - mean_absolute_error: 4436.5967
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 71.4632 - mean_absolute_error: 4299.2656
Epoch 17/25
11977/11977 [==============================] - 59s 5ms/step - loss: 71.8831 - mean_absolute_error: 4238.3696
Epoch 18/25
11977/11977 [==============================] - 60s 5ms/step - loss: 72.4421 - mean_absolute_error: 4325.7466
Epoch 19/25
11977/11977 [==============================] - 59s 5ms/step - loss: 72.1992 - mean_absolute_error: 4333.5996
Epoch 20/25
11977/11977 [==============================] - 57s 5ms/step - loss: 73.2558 - mean_absolute_error: 4477.2104
Epoch 21/25
11977/11977 [==============================] - 57s 5ms/step - loss: 70.8964 - mean_absolute_error: 4186.1216
Epoch 22/25
11977/11977 [==============================] - 57s 5ms/step - loss: 70.0495 - mean_absolute_error: 4105.6553
Epoch 23/25
11977/11977 [==============================] - 58s 5ms/step - loss: 70.2620 - mean_absolute_error: 4139.0698
Epoch 24/25
11977/11977 [==============================] - 58s 5ms/step - loss: 72.2714 - mean_absolute_error: 4361.2549
Epoch 25/25
11977/11977 [==============================] - 58s 5ms/step - loss: 71.0553 - mean_absolute_error: 4265.9526
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 59s 5ms/step - loss: 83.0127 - mean_absolute_error: 5361.7446
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 75.0831 - mean_absolute_error: 4866.4360
Epoch 3/25
11977/11977 [==============================] - 58s 5ms/step - loss: 74.5173 - mean_absolute_error: 4689.4941
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 73.5852 - mean_absolute_error: 4531.9390
Epoch 5/25
11977/11977 [==============================] - 57s 5ms/step - loss: 73.7797 - mean_absolute_error: 4601.7051
Epoch 6/25
11977/11977 [==============================] - 58s 5ms/step - loss: 75.1541 - mean_absolute_error: 4679.4380
Epoch 7/25
11977/11977 [==============================] - 57s 5ms/step - loss: 72.3569 - mean_absolute_error: 4363.3896
Epoch 8/25
11977/11977 [==============================] - 58s 5ms/step - loss: 73.9716 - mean_absolute_error: 4529.8120
Epoch 9/25
11977/11977 [==============================] - 58s 5ms/step - loss: 74.9849 - mean_absolute_error: 4615.7241
Epoch 10/25
11977/11977 [==============================] - 57s 5ms/step - loss: 71.5130 - mean_absolute_error: 4230.5308
Epoch 11/25
11977/11977 [==============================] - 58s 5ms/step - loss: 72.0463 - mean_absolute_error: 4317.2007
Epoch 12/25
11977/11977 [==============================] - 58s 5ms/step - loss: 72.3409 - mean_absolute_error: 4321.5962
Epoch 13/25
11977/11977 [==============================] - 57s 5ms/step - loss: 72.7727 - mean_absolute_error: 4339.0986
Epoch 14/25
11977/11977 [==============================] - 59s 5ms/step - loss: 70.9084 - mean_absolute_error: 4119.6182
Epoch 15/25
11977/11977 [==============================] - 58s 5ms/step - loss: 77.2009 - mean_absolute_error: 5014.8032
Epoch 16/25
11977/11977 [==============================] - 58s 5ms/step - loss: 73.3645 - mean_absolute_error: 4464.8740
Epoch 17/25
11977/11977 [==============================] - 58s 5ms/step - loss: 76.8751 - mean_absolute_error: 4794.9268
Epoch 18/25
11977/11977 [==============================] - 59s 5ms/step - loss: 75.2913 - mean_absolute_error: 4611.6201
Epoch 19/25
11977/11977 [==============================] - 60s 5ms/step - loss: 73.0359 - mean_absolute_error: 4404.5132
Epoch 20/25
11977/11977 [==============================] - 58s 5ms/step - loss: 71.7407 - mean_absolute_error: 4240.7554
Epoch 21/25
11977/11977 [==============================] - 58s 5ms/step - loss: 71.7572 - mean_absolute_error: 4304.3438
Epoch 22/25
11977/11977 [==============================] - 58s 5ms/step - loss: 70.8482 - mean_absolute_error: 4143.5928
Epoch 23/25
11977/11977 [==============================] - 58s 5ms/step - loss: 72.5031 - mean_absolute_error: 4320.7012
Epoch 24/25
11977/11977 [==============================] - 58s 5ms/step - loss: 71.3843 - mean_absolute_error: 4190.5059
Epoch 25/25
11977/11977 [==============================] - 58s 5ms/step - loss: 69.7723 - mean_absolute_error: 4130.9683
5989/5989 [==============================] - 13s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 59s 5ms/step - loss: 82.9037 - mean_absolute_error: 5366.8916
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 75.9984 - mean_absolute_error: 4942.0356
Epoch 3/25
11977/11977 [==============================] - 58s 5ms/step - loss: 73.8785 - mean_absolute_error: 4702.7822
Epoch 4/25
11977/11977 [==============================] - 59s 5ms/step - loss: 75.2784 - mean_absolute_error: 4864.5562
Epoch 5/25
11977/11977 [==============================] - 58s 5ms/step - loss: 71.7942 - mean_absolute_error: 4405.1689
Epoch 6/25
11977/11977 [==============================] - 58s 5ms/step - loss: 71.7558 - mean_absolute_error: 4336.1406
Epoch 7/25
11977/11977 [==============================] - 59s 5ms/step - loss: 70.3940 - mean_absolute_error: 4178.4702
Epoch 8/25
11977/11977 [==============================] - 58s 5ms/step - loss: 70.4919 - mean_absolute_error: 4223.8149
Epoch 9/25
11977/11977 [==============================] - 59s 5ms/step - loss: 69.8966 - mean_absolute_error: 4124.6167
Epoch 10/25
11977/11977 [==============================] - 59s 5ms/step - loss: 69.9236 - mean_absolute_error: 4111.5098
Epoch 11/25
11977/11977 [==============================] - 58s 5ms/step - loss: 69.5382 - mean_absolute_error: 4083.5178
Epoch 12/25
11977/11977 [==============================] - 59s 5ms/step - loss: 69.1383 - mean_absolute_error: 4072.1240
Epoch 13/25
11977/11977 [==============================] - 58s 5ms/step - loss: 68.7064 - mean_absolute_error: 4014.2773
Epoch 14/25
11977/11977 [==============================] - 58s 5ms/step - loss: 68.3232 - mean_absolute_error: 3979.8579
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 68.4746 - mean_absolute_error: 3971.6384
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 68.0124 - mean_absolute_error: 3972.4780
Epoch 17/25
11977/11977 [==============================] - 58s 5ms/step - loss: 67.8105 - mean_absolute_error: 3927.7136
Epoch 18/25
11977/11977 [==============================] - 59s 5ms/step - loss: 66.9216 - mean_absolute_error: 3856.8994
Epoch 19/25
11977/11977 [==============================] - 58s 5ms/step - loss: 67.5582 - mean_absolute_error: 3885.7073
Epoch 20/25
11977/11977 [==============================] - 58s 5ms/step - loss: 67.0873 - mean_absolute_error: 3853.0771
Epoch 21/25
11977/11977 [==============================] - 59s 5ms/step - loss: 67.8107 - mean_absolute_error: 3887.8518
Epoch 22/25
11977/11977 [==============================] - 58s 5ms/step - loss: 66.8352 - mean_absolute_error: 3858.8560
Epoch 23/25
11977/11977 [==============================] - 58s 5ms/step - loss: 67.6630 - mean_absolute_error: 3908.6418
Epoch 24/25
11977/11977 [==============================] - 59s 5ms/step - loss: 67.1140 - mean_absolute_error: 3891.7585
Epoch 25/25
11977/11977 [==============================] - 58s 5ms/step - loss: 70.1506 - mean_absolute_error: 4200.6304
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 60s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0811
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0830
Epoch 3/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5322 - mean_absolute_error: 8497.0811
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0840
Epoch 5/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0879
Epoch 6/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0967
Epoch 7/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0938
Epoch 8/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5325 - mean_absolute_error: 8497.0781
Epoch 9/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0781
Epoch 10/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5322 - mean_absolute_error: 8497.0762
Epoch 11/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5322 - mean_absolute_error: 8497.0713
Epoch 12/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5322 - mean_absolute_error: 8497.0869
Epoch 13/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0752
Epoch 14/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0664
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0605
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0742
Epoch 17/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0684
Epoch 18/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0742
Epoch 19/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0869
Epoch 20/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5324 - mean_absolute_error: 8497.0869
Epoch 21/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0703
Epoch 22/25
11977/11977 [==============================] - 60s 5ms/step - loss: 65.5322 - mean_absolute_error: 8497.0889
Epoch 23/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5325 - mean_absolute_error: 8497.0723
Epoch 24/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0732
Epoch 25/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5323 - mean_absolute_error: 8497.0674
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 59s 5ms/step - loss: 8.9585 - mean_absolute_error: 77340.1094
Epoch 2/25
11977/11977 [==============================] - 58s 5ms/step - loss: 21.8361 - mean_absolute_error: 214401.7031
Epoch 3/25
11977/11977 [==============================] - 58s 5ms/step - loss: 29.9698 - mean_absolute_error: 587486.5000
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 40.7106 - mean_absolute_error: 1070650.6250
Epoch 5/25
11977/11977 [==============================] - 58s 5ms/step - loss: 38.0859 - mean_absolute_error: 1071153.6250
Epoch 6/25
11977/11977 [==============================] - 58s 5ms/step - loss: 33.8514 - mean_absolute_error: 690235.9375
Epoch 7/25
11977/11977 [==============================] - 58s 5ms/step - loss: 37.0427 - mean_absolute_error: 1243549.6250
Epoch 8/25
11977/11977 [==============================] - 58s 5ms/step - loss: 35.4835 - mean_absolute_error: 935412.6875
Epoch 9/25
11977/11977 [==============================] - 58s 5ms/step - loss: 35.7961 - mean_absolute_error: 973446.3750
Epoch 10/25
11977/11977 [==============================] - 59s 5ms/step - loss: 35.5696 - mean_absolute_error: 617123.1875
Epoch 11/25
11977/11977 [==============================] - 59s 5ms/step - loss: 39.0536 - mean_absolute_error: 823593.6250
Epoch 12/25
11977/11977 [==============================] - 59s 5ms/step - loss: 41.6688 - mean_absolute_error: 1064131.3750
Epoch 13/25
11977/11977 [==============================] - 59s 5ms/step - loss: 38.9615 - mean_absolute_error: 1410806.5000
Epoch 14/25
11977/11977 [==============================] - 59s 5ms/step - loss: 40.0758 - mean_absolute_error: 1454004.3750
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 37.0660 - mean_absolute_error: 1069055.5000
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 39.6346 - mean_absolute_error: 1185393.1250
Epoch 17/25
11977/11977 [==============================] - 59s 5ms/step - loss: 38.8403 - mean_absolute_error: 981389.9375
Epoch 18/25
11977/11977 [==============================] - 59s 5ms/step - loss: 39.6766 - mean_absolute_error: 1132766.7500
Epoch 19/25
11977/11977 [==============================] - 58s 5ms/step - loss: 39.5157 - mean_absolute_error: 1167535.2500
Epoch 20/25
11977/11977 [==============================] - 60s 5ms/step - loss: 41.0331 - mean_absolute_error: 1395869.2500
Epoch 21/25
11977/11977 [==============================] - 59s 5ms/step - loss: 39.5956 - mean_absolute_error: 1374762.2500
Epoch 22/25
11977/11977 [==============================] - 58s 5ms/step - loss: 38.8332 - mean_absolute_error: 974163.0000
Epoch 23/25
11977/11977 [==============================] - 59s 5ms/step - loss: 41.1066 - mean_absolute_error: 1667809.1250
Epoch 24/25
11977/11977 [==============================] - 59s 5ms/step - loss: 35.0824 - mean_absolute_error: 1029448.0625
Epoch 25/25
11977/11977 [==============================] - 60s 5ms/step - loss: 38.5181 - mean_absolute_error: 1053539.3750
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 62s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4893
Epoch 2/25
11977/11977 [==============================] - 61s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4521
Epoch 3/25
11977/11977 [==============================] - 61s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4863
Epoch 4/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5865 - mean_absolute_error: 6796.4614
Epoch 5/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4668
Epoch 6/25
11977/11977 [==============================] - 60s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4702
Epoch 7/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4556
Epoch 8/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4780
Epoch 9/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4717
Epoch 10/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5865 - mean_absolute_error: 6796.4834
Epoch 11/25
11977/11977 [==============================] - 60s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4590
Epoch 12/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4722
Epoch 13/25
11977/11977 [==============================] - 58s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4697
Epoch 14/25
11977/11977 [==============================] - 60s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4619
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5865 - mean_absolute_error: 6796.4780
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4692
Epoch 17/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4692
Epoch 18/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5865 - mean_absolute_error: 6796.4697
Epoch 19/25
11977/11977 [==============================] - 61s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4795
Epoch 20/25
11977/11977 [==============================] - 61s 5ms/step - loss: 65.5865 - mean_absolute_error: 6796.4688
Epoch 21/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4766
Epoch 22/25
11977/11977 [==============================] - 59s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4648
Epoch 23/25
11977/11977 [==============================] - 60s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4751
Epoch 24/25
11977/11977 [==============================] - 61s 5ms/step - loss: 65.5866 - mean_absolute_error: 6796.4800
Epoch 25/25
11977/11977 [==============================] - 61s 5ms/step - loss: 65.5867 - mean_absolute_error: 6796.4580
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0117
Epoch 2/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0098
Epoch 3/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0254
Epoch 4/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0059
Epoch 5/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9697
Epoch 6/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9639
Epoch 7/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9854
Epoch 8/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9863
Epoch 9/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9922
Epoch 10/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9854
Epoch 11/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9863
Epoch 12/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9805
Epoch 13/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9600
Epoch 14/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0020
Epoch 15/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0010
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9961
Epoch 17/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9951
Epoch 18/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9629
Epoch 19/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9668
Epoch 20/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9980
Epoch 21/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9629
Epoch 22/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9766
Epoch 23/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9990
Epoch 24/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13203.0264
Epoch 25/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 13202.9854
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 63s 5ms/step - loss: 15450714112.0000 - mean_absolute_error: 19102.0977
Epoch 2/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0449
Epoch 3/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0176
Epoch 4/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0410
Epoch 5/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0234
Epoch 6/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19116.9961
Epoch 7/25
11977/11977 [==============================] - 62s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0000
Epoch 8/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0176
Epoch 9/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0684
Epoch 10/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19116.9629
Epoch 11/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0449
Epoch 12/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0215
Epoch 13/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0254
Epoch 14/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0527
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0449
Epoch 16/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19116.9844
Epoch 17/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19116.9688
Epoch 18/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0391
Epoch 19/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0000
Epoch 20/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0273
Epoch 21/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19116.9766
Epoch 22/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0176
Epoch 23/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0391
Epoch 24/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0410
Epoch 25/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 19117.0410
5989/5989 [==============================] - 12s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

11977/11977 [==============================] - 62s 5ms/step - loss: 27290904576.0000 - mean_absolute_error: 22750.1172
Epoch 2/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.4941
Epoch 3/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5137
Epoch 4/25
11977/11977 [==============================] - 62s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5859
Epoch 5/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5742
Epoch 6/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5137
Epoch 7/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.4668
Epoch 8/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5332
Epoch 9/25
11977/11977 [==============================] - 62s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.4922
Epoch 10/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5098
Epoch 11/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5430
Epoch 12/25
11977/11977 [==============================] - 62s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.6172
Epoch 13/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5234
Epoch 14/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.4668
Epoch 15/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.4766
Epoch 16/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5117
Epoch 17/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5273
Epoch 18/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5625
Epoch 19/25
11977/11977 [==============================] - 61s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5801
Epoch 20/25
11977/11977 [==============================] - 59s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5586
Epoch 21/25
11977/11977 [==============================] - 62s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5215
Epoch 22/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5625
Epoch 23/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.4707
Epoch 24/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5156
Epoch 25/25
11977/11977 [==============================] - 60s 5ms/step - loss: 0.0000e+00 - mean_absolute_error: 22767.5156
5989/5989 [==============================] - 13s 2ms/step
Epoch 1/25

C:\Users\Matheus\anaconda3\envs\py310\lib\site-packages\tensorflow\python\framework\indexed_slices.py:444: UserWarning: Converting sparse IndexedSlices(IndexedSlices(indices=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape_1:0", shape=(None,), dtype=int32), values=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Reshape:0", shape=(None, 158), dtype=float32), dense_shape=Tensor("gradient_tape/sequential/dense/embedding_lookup_sparse/Cast:0", shape=(2,), dtype=int32))) to a dense Tensor of unknown shape. This may consume a large amount of memory.
  warnings.warn(

17965/17965 [==============================] - 85s 5ms/step - loss: 47934212.0000 - mean_absolute_error: 3544.5413
Epoch 2/25
17965/17965 [==============================] - 86s 5ms/step - loss: 38907968.0000 - mean_absolute_error: 3127.0894
Epoch 3/25
17965/17965 [==============================] - 85s 5ms/step - loss: 37603584.0000 - mean_absolute_error: 3043.2422
Epoch 4/25
17965/17965 [==============================] - 86s 5ms/step - loss: 36845580.0000 - mean_absolute_error: 2982.7122
Epoch 5/25
17965/17965 [==============================] - 85s 5ms/step - loss: 36194280.0000 - mean_absolute_error: 2932.3796
Epoch 6/25
17965/17965 [==============================] - 86s 5ms/step - loss: 35308576.0000 - mean_absolute_error: 2878.6482
Epoch 7/25
17965/17965 [==============================] - 85s 5ms/step - loss: 35113468.0000 - mean_absolute_error: 2865.2825
Epoch 8/25
17965/17965 [==============================] - 86s 5ms/step - loss: 34667268.0000 - mean_absolute_error: 2830.3879
Epoch 9/25
17965/17965 [==============================] - 86s 5ms/step - loss: 34186140.0000 - mean_absolute_error: 2803.8982
Epoch 10/25
17965/17965 [==============================] - 87s 5ms/step - loss: 34124980.0000 - mean_absolute_error: 2796.7849
Epoch 11/25
17965/17965 [==============================] - 85s 5ms/step - loss: 33804484.0000 - mean_absolute_error: 2775.3525
Epoch 12/25
17965/17965 [==============================] - 85s 5ms/step - loss: 33540172.0000 - mean_absolute_error: 2761.0437
Epoch 13/25
17965/17965 [==============================] - 87s 5ms/step - loss: 33052632.0000 - mean_absolute_error: 2734.6414
Epoch 14/25
17965/17965 [==============================] - 88s 5ms/step - loss: 33062146.0000 - mean_absolute_error: 2741.0547
Epoch 15/25
17965/17965 [==============================] - 87s 5ms/step - loss: 32730804.0000 - mean_absolute_error: 2723.3137
Epoch 16/25
17965/17965 [==============================] - 89s 5ms/step - loss: 32631942.0000 - mean_absolute_error: 2711.1348
Epoch 17/25
17965/17965 [==============================] - 89s 5ms/step - loss: 32358310.0000 - mean_absolute_error: 2699.0901
Epoch 18/25
17965/17965 [==============================] - 89s 5ms/step - loss: 32301248.0000 - mean_absolute_error: 2705.3994
Epoch 19/25
17965/17965 [==============================] - 89s 5ms/step - loss: 32137526.0000 - mean_absolute_error: 2678.4019
Epoch 20/25
17965/17965 [==============================] - 89s 5ms/step - loss: 31844792.0000 - mean_absolute_error: 2673.3225
Epoch 21/25
17965/17965 [==============================] - 89s 5ms/step - loss: 31881954.0000 - mean_absolute_error: 2682.3479
Epoch 22/25
17965/17965 [==============================] - 89s 5ms/step - loss: 31621618.0000 - mean_absolute_error: 2666.5405
Epoch 23/25
17965/17965 [==============================] - 89s 5ms/step - loss: 31563366.0000 - mean_absolute_error: 2664.7205
Epoch 24/25
17965/17965 [==============================] - 88s 5ms/step - loss: 31667484.0000 - mean_absolute_error: 2673.8083
Epoch 25/25
17965/17965 [==============================] - 89s 5ms/step - loss: 31565380.0000 - mean_absolute_error: 2661.7683

In [51]:
grid_search.best_params_

{'batch_size': 20, 'epochs': 25, 'model__loss': 'mean_squared_error'}